{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <center > <h1>Create new Commande</h1> </center> 

    {{ include('commande/_form.html.twig') }}

   
{% endblock %}
